:root { --bgcolor: #f8f9fc; --fontcolor: #444; --linkcolor: #00e; --visitedcolor: #551a8b; --precolor: #fff; --prebgcolor: #090909; --accent: #ce521e; --lightbg: #f4f4f4; --strong: #027e86;}
@media (prefers-color-scheme: dark) { :root { --bgcolor: #090909; --fontcolor: white; --linkcolor: #5bf; --visitedcolor: #ae5ee0; --precolor: #fff; --prebgcolor: #383838; --lightbg: #1a1a1a; --strong: #02868e;}}

body {
    max-width: 700px;
    font: 1.2rem/1.3 monospace;
}

article {
    strong {
        color: var(--strong);
    }

    padding: 0.3rem 0;

    code {
        font: 1rem/1.2 monospace;
    }

    blockquote {
        margin: 0;
        padding: 0.1em 1.2em;
        border-left: 5px solid var(--accent);
        background-color: var(--lightbg);
    }
}

a, a:visited, a:link {
    color: var(--accent);
}

.highlight pre {
    margin: 0;
    padding: 0 1rem 0 1rem;
}

code, p > code {
    padding: 0;
}

.list-none {
    list-style: none;
    padding-left: 0;
}

h1::before, h2::before, h3::before, h4::before {
    color: var(--accent);
}

h1::before {
    content: "# ";
}

h2::before {
    content: "## ";
}

h3::before {
    content: "### ";
}

h4::before {
    content: "#### ";
}

/* OPENRING */
.webring .articles {
  display: flex;
  flex-wrap: wrap;
  margin: -0.5rem;
}
.webring .title {
  font-size: 1.1rem;
  margin: 0;
}
.webring .article {
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
  margin: 0.5rem;
  padding: 0.5rem;
  background: var(--lightbg);
  min-width: 10rem;
  font-size: 0.8rem;
}

.webring .summary {
  flex: 1 1 0;
}

.webring .attribution {
  font-size: 0.8rem;
}

