:root { --bgcolor: white; --fontcolor: #444; --linkcolor: #00e; --visitedcolor: #551a8b; --precolor: #fff; --prebgcolor: #000;}
@media (prefers-color-scheme: dark) { :root { --bgcolor: black; --fontcolor: white; --linkcolor: #5bf; --visitedcolor: #ae5ee0; --precolor: #fff; --prebgcolor: #383838;}}

body {
    font-size: 1rem;
}

article {
    padding: 0.3rem 0;
}

a:visited {
    color: var(--linkcolor);
}

.highlight pre {
    margin: 0;
    padding: 0 1rem 0 1rem;
}

.list-none {
    list-style: none;
    padding-left: 0;
}
