{{ define "main" }}
	<main>
	    {{ .Content }}
	    {{ $pages := where site.RegularPages "Section" "log" }}
	    <h2>recent logs</h2>
        <ul class="list-none">
            {{ range first 10 $pages.ByDate.Reverse }}
            <li>{{ .Date.Format "2006-01-02"}}: <a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></li>
            {{ end }}
        </ul>
        <a href="/log/">more logs...</a>
	    {{ $pages := where site.RegularPages "Section" "notes" }}
	    <h2>notes</h2>
        <ul>
            {{ range first 5 $pages.ByTitle }}
            <li><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></li>
            {{ end }}
        </ul>
        <a href="/notes/">more notes...</a>
	</main>
{{ end }}
